<div class="recipes-container">
<h1>My Cookbook</h1>
<div><i>Here are the recipes you have created:</i></div>
<div class="button">
    <a href="/recipes/new">Create a new recipe</a>
</div>
    <div class="recipe-cards">
    <% @recipes.each do |recipe| %>
        <div class="recipe-card">
            <a href="/recipes/<%= recipe.id %>">
                <h2><%= recipe.title %></h2>
                <img src="<%= recipe.image %>" alt="recipe">
                <div>
                    <%= recipe.ingredients.map { |ingredient| ingredient.name }.join(', ') %>
                </div>
                <% if current_user == recipe.user %>
                    <div class="button">
                        <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
                    </div>
                <% end %>
            </a>
        </div>
    <% end %>
    </div>
</div>